    @model IEnumerable<TP_W24.Controllers.CommentDisplay>
        @{ var post = (Model.Select(t => t.post).FirstOrDefault()).ToList();}
<section id="blog-page">
    <div style="margin-top:85px;" class="container">
        <div class="row">
    <div class="next-prev clearfix">
        <a href="" class="prev-post">
            <i class="fa fa-angle-left fa-2x"></i>Précédent Post
        </a>
        <a href="" class="next-post pull-right">
            Post Suivant<i class="fa fa-angle-right fa-2x"></i>
        </a>
    </div>
        @foreach (var item in post)
    {
    <div class="author-about clearfix">
        
        <h4>@item.PostName</h4>
        
        <div class="post-author pull-left">
            <img src="@item.UserPathImg" alt="">
        </div>
        <div class="author-bio">
            <p>@item.PostMessage</p>
        </div>
        
    </div>
        }
        <br/>
        <hr/>
        <div id="comments" class="comments-section">
            <h4>4 Commentaire</h4>

            <ol class="comment-list">
                @foreach (var item in Model)
                {
                <li id="comment-1">
                    <div class="comment-wrap">
                        <div class="author-avatar pull-left">
                            <img style="width:75px;height:75px;" src="@item.User_PATH_IMG" alt="">
                        </div>
                        <div class="author-comment">
                            <cite class="pull-left"><a href="#">@item.Username</a></cite>
                            <div style="clear:both"></div>
                            <div class="comment-meta">
                                <i class="fa fa-calendar"></i>  @item.Comment_Date_Heure
                            </div>
                        </div>
                        <div class="comment-content">
                            <p>@item.Comment_Text</p>
                        </div>
                    </div> 
                    </li>
                }
            </ol>
        </div>
            <div class="comment-reply-form">
                <h3>Laisse ton avis</h3>
                <form id="comment-form" method="post" action="#">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- End .form-group -->
                            <div class="form-group">
                                <textarea class="form-control" style="resize:none;" placeholder="Message *" id="message" name="message" rows="5" cols="12" required></textarea>
                            </div>
                        </div>
                        <!-- End .form-group -->
                        <div class="col-md-12" style="margin-top:10px">
                            <div class="form-group">
                                <input type="submit" id="post-comment" value="Envoyée " class="btn btn-transparent">
                            </div>
                        </div>
                        <!-- End .form-group -->
                    </div>
                </form>
            </div><!-- End Single Post -->
        </div>	    <!-- End row -->
    </div>       <!-- End container -->
</section>    <!-- End Section -->