@model PagedList.IPagedList<TP_W24.Controllers.PostCommentDisplay>
@using PagedList.Mvc
@{
    var comment = Model.Select(t => t.comment).FirstOrDefault();
    var Nbcom = "";
 }
<section id="blog-page">
    <div style="margin-top:85px;" class="container">
        <div class="row">
            <div class="next-prev clearfix">
                <a href="" class="prev-post">
                    <i class="fa fa-angle-left fa-2x"></i>Précédent Post
                </a>
                <a href="" class="next-post pull-right">
                    Post Suivant<i class="fa fa-angle-right fa-2x"></i>
                </a>
            </div>
            @foreach (var item in Model)
            {
                Nbcom = item.NbComment.ToString();
                <div class="author-about clearfix">

                    <h4>@item.PostName</h4>

                    <div class="post-author pull-left">
                        <img src="@item.UserPathImg" alt="">
                    </div>
                    <div class="author-bio">
                        @Html.Raw(item.PostMessage)
                    </div>

                </div>
            }
            <br />
            <hr />
            <div id="comments" class="comments-section">
                <h4>@Nbcom Commentaire</h4>

                <ol class="comment-list">
                    @foreach (var item in comment)
                    {
                        <li id="comment-1">
                            <div class="comment-wrap">
                                <div class="author-avatar pull-left">
                                    <img style="width:75px;height:75px;" src="@item.User_PATH_IMG" alt="">
                                </div>
                                <div class="author-comment">
                                    <cite class="pull-left"><a href="#">@item.Username</a></cite>
                                    <div style="clear:both"></div>
                                    <div class="comment-meta">
                                        <i class="fa fa-calendar"></i>  @item.Comment_Date_Heure
                                    </div>
                                </div>
                                <div class="comment-content">
                                    @Html.Raw(item.Comment_Text)
                                </div>
                            </div>
                        </li>
                    }
                </ol>
            </div>


            <div class="comment-reply-form">
                @if (User.Identity.IsAuthenticated)
                {
                    <h3>Laisse ton avis</h3>
                    <form id="comment-form" method="post" action="#">
                        <input type="hidden" name="FK_Post_ID" value="@Model.Select(t=>t.PostID).FirstOrDefault()" />
                        <input type="hidden" name="FK_User_ID" value="@Model.Select(t=>t.PostUserID).FirstOrDefault()" />
                        <input type="hidden" name="NoCat" value="@Model.Select(t=>t.PostCategorieID).FirstOrDefault()" />
                        <input type="hidden" name="NoPost" value="@Model.Select(t=>t.PostID).FirstOrDefault()" />
                        <div class="row">
                            <div class="col-md-12">
                                <!-- End .form-group -->
                                <div class="form-group">
                                    <textarea class="form-control" style="resize:none;" placeholder="Message *" id="message" name="Comment_Text" rows="5" cols="12"></textarea>
                                </div>
                            </div>
                            <!-- End .form-group -->
                            <div class="col-md-12" style="margin-top:10px">
                                <div class="form-group">
                                    <input type="submit" value="Envoyée" class="btn btn-transparent" />
                                </div>
                            </div>
                            <!-- End .form-group -->
                        </div>
                    </form>

                }
                @if(!User.Identity.IsAuthenticated)
                {
                    <h3>Connectez vous pour commenter</h3>
                }

            <hr />
                <div class="col-md-12" style="margin-top:35px;">

                    Page @Model.PageNumber / @Model.PageCount


                    @*Permet d'afficher les differents numero de page*@

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

                </div>
            </div><!-- End Single Post -->


        </div>	    <!-- End row -->
    </div>       <!-- End container -->
    
</section>    <!-- End Section -->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}