@model IEnumerable<TP_W24.Models.Categorie>

@{
    ViewBag.Title = "Index";
}

<!-- Start Blog Banner
        ==================================== -->
<section id="blog-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <div class="blog-icon">
                    <i class="fa fa-btc fa-4x"></i>
                </div>
                <div class="blog-title">
                    <h1>Catégories</h1>
                </div>

            </div>     <!-- End col-lg-12 -->
        </div>	    <!-- End row -->
    </div>       <!-- End container -->
</section>    <!-- End Section -->
<!-- Start Blog Post Section
==================================== -->

<section id="blog-page">
    <div class="container">
        <div class="row">
            <div id="blog-posts" class="col-md-8 col-sm-8">
                <div class="post-item">
                    @foreach (var item in Model)
                    {
                    @*<article class="entry wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div style="height:60px;margin-top: 25px;" class="post-excerpt">
                            <a href='/home/post'><img src="@item.Categorie_Path_Img.Trim()" alt="Flying bicycle" style="width: 50px;height: 50px;float: left;" class="img-responsive"></a>
                            <a href='/home/post'><h3 style="float: left;margin-left: 20px;">@item.CategorieName</h3></a>
                        </div>
                        </article>*@
                        
                        <article class="col-md-3 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-duration="500ms">
                            <div style="margin-top:7%;" class="note">
                                <div class="media-wrapper">
                                    <img style="width:260.5px;height:173.66px;" src="@item.Categorie_Path_Img" alt="amazing caves coverimage" class="img-responsive">
                                </div>

                                <div class="excerpt">
                                    <h3>@item.CategorieName</h3>
                                    <p>@item.CategorieDescription</p>
                                    <a class="btn btn-transparent" href='/Posts/Index?NoCat=@item.Categorie_ID'>Go</a>
                                </div>
                            </div>
                        </article>
						
                    }
                         
                        </div>
                      </div>

                        
                            <!-- Widget Section -->
                            <div id="right-sidebar" class="col-md-4 col-sm-4">

                                <!------------------------------Recherche ----------------------------->
                                <aside class="widget wow fadeInUp" data-wow-duration="1000ms">
                                    <div class="widget-title">
                                        <h3>Rechercher</h3>
                                    </div>
                                    <div class="widget-content">
                                        <form action="#" id="search-form" method="get" role="search">
                                            <input type="text" class="form-control" placeholder="Recherche..." autocomplete="on" name="seach">
                                            <button type="submit" title="Search" id="search-submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </aside>
                        <!------------------------- Fin Recherche ----------------------------->
                        <!-- Single Widget -->
                        <aside class="widget wow fadeInDown">
                            <div class="widget-title">
                                <h3>Abonne Toi!</h3>
                                <p>Abonne toi et recoit les alertes concernant tes sujets favori!</p>
                            </div>
                            <div class="widget-content">
                                <form action="">
                                    <input type="email" name="email" class="form-control" placeholder="Entrez votre email" required="">
                                    <input type="submit" value="Envoyer" class="btn btn-transparent">
                                </form>
                            </div>
                        </aside>
                        <!-- End Single Widget -->
                        <!-- Single Widget -->
                                <aside class="widget wow fadeInDown">
                                    <form action="#" method="post">
                                        <div class="widget-title">
                                            <h3>Catégories</h3>
                                        </div>
                                        <div class="widget-content">
                                            <ul class="categories">
                                                <li><i class="fa fa-comments-o"></i><a href='/Posts/Index?NoCat=1'>Bitcoins</a>
                                                <li><i class="fa fa-comments-o"></i><a href='/Posts/Index?NoCat=4'>Verge</a>
                                                <li><i class="fa fa-comments-o"></i><a href='/Posts/Index?NoCat=2'>Dogecoins</a>
                                                <li><i class="fa fa-comments-o"></i><a href='/Posts/Index?NoCat=3'>Litecoins</a>
                                            </ul>
                                        </div>
                                    </form>
                                </aside>
                        <!-- End Single Widget -->

                    </div>
                    <!-- End Widget Section -->
                </div>	    <!-- End row -->
            </div>       <!-- End container -->
</section>    <!-- End Section -->
