@using TP_W24.Models
@model LoginViewModel
@{
    ViewBag.Title = "Connexion";
}
<!-- Srart Contact Us
        =========================================== -->
<section id="contact-us">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                <h2>Se <span class="color">Connecter</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->
            <!-- Contact Details -->
            <!-- / End Contact Details -->
            <!-- Contact Form -->
            <div class="contact-form col-md-6 col-lg-offset-3 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        UserName
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        Password
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                 
                    </div>
                
                    <div id="mail-success" class="success">
                        Thank you. The Mailman is on His Way :)
                    </div>
                    <div id="mail-fail" class="error">
                        Sorry, don't know what happened. Try later :(
                    </div>
                    <div id="cf-submit">
                        <input type="submit" id="Connexion" class="btn btn-transparent" value="Se Connecter">
                    </div>
                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
            <!-- ./End Contact Form -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
